body {
        background-color: #d7d8edff;
        font-family: sans-serif;
      }

      h1 {
        color: #171718ff;
         text-align: center;
        
      }

      p {
        color: grey;
      }


      .header-text {
        width: 1480px;
        height: 50px;
        border: 5px solid #5b82b6ff;
        background-color: #ffffffff;
        border-radius: 25px;
        padding: 20px;
        margin: 0px auto;
        text-align: center;
        
        display: flex;
        gap: 20px;
      }

      .nav-buttons {
        margin-top: 0px;
        margin-bottom: 20px;
        border-radius: 10px;
        text-align: right; 
        
        margin-right: 30px;
      }

      a.button {
    padding: 7px;
    border: 2px solid black;
    margin: 0px;
    border-radius: 4px;
    color: black;
    background-color: #94b3dbff;
    text-decoration: bold;
    }

   a:link {
  color: black;
  text-decoration: none;
    }

    button:hover {
        background-color: #242170ff;
    }
