
body {background-color: #d7d8edff;}

h1   {color: #171718ff;
    align-items: center;
    margin: auto;
    text-align: center;
    font-family:arial; 
  }

h2   {color: #171718ff;
    align-items: center;
    margin: auto;
    text-align: center;
    font-family:arial 
  }

p    {color: grey;
    font-family:arial}

.header-text div {
  width: 1400px;
  border: 5px #5b82b6ff;
  background-color: #ffffffff;
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  display: flex;
  align-items: center; 
  text-align: center;
  gap: 10px;  
}
.yellow-div {
  width: 1400px;
  background-color: #dfaf3fff;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center; 
  text-align: center;
  gap: 2px;  
}
.text-div {
  width: 1000px;
  background-color: #ffffffff;
  padding: 2px;
  margin: 2px;
  display: flex;
  align-items: center; 
  text-align: center;
  gap: 2px;  
   margin-left: 50px;
   border-radius: 0; 
}
.header-text h1 {
  margin-right: 450px; 
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.info-text{
  color: black;
  font-family:arial;
  font-size: 17px;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}


