
body {background-color: rgb(233, 237, 239);}

.center-h1   {color: #171718ff;
    align-items: center;
    margin: auto;
    text-align: center;
    font-family:arial; 
  }

.left-h1   {color: #171718ff;
    align-items: left;
    margin: auto;
    text-align: left;
    font-family:arial; 
  }

h2   {color: rgb(25, 25, 127);
    text-align: left; 
    margin: auto;
    font-family:arial; 
    font-size: 45px;
    margin:15px;
  }

.light-text   
 {color: grey;
    font-family:arial}

.big-text
{
  font-size: 20px;
  color: black;
  font-family:arial;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.header-text div {
  width: 1400px;
  border: 5px #5b82b6ff;
  background-color: #ffffffff;
  border-radius: 25px;
  padding: 1px;
  margin: 5px;
  display: flex;
  align-items: center; 
  text-align: center;
  gap: 10px;  
}
.yellow-div {
  width: 1400px;
  background-color: #dfaf3fff;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center; 
  text-align: center;
  gap: 2px;  
}
.text-div {
  width: 1400px;
  background-color: #ffffffff;
  border: 5px #5b82b6ff;
  border-radius: 20px;
  padding: 2px;
  margin: 2px;

  gap: 2px;  
   margin-left: 30px;
}


.img-box {
  width: 1400px;
  border: 2px solid #5b82b6ff;
  background-color: #ffffffff;
  border-radius: 25px;
  padding: 10px;
  margin-left: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.header-text h1 {
  margin-right: 450px; 
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.left-aligned {
  display: block;
  margin-left: 10px;
  margin-right: auto;
}
.info-text{
  color: black;
  font-family:arial;
  font-size: 20px;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}


